{% extends 'base.html' %}

{% block textbox %}
        <!-- sidebar-wrapper  -->
        <div class="page-content">
          <div class="container-fluid">
            <h4>Bullet Points</h4><br><br>
            <div class="row">
              <div class="form-group col-md-12">
                <div class="containercolor">
                  <ul>
                  <li>Your resume score is {{marks}}/7</li>
                  <hr>
                  <li style="font-size: 15px;">
                    The number of bullet points in a resume is important because it can impact the readability and effectiveness of the document.                   </li>
                  <li style="font-size: 15px;">
                    While it's important to provide enough detail about your qualifications and experiences, including too many bullet points can overwhelm the reader and make it difficult for them to identify the most important information.                  </li>
                  <li style="font-size: 15px;">
                    It is recommended to include 10-15 bullet points for each job or experience listed on your resume.                  </li>
                    <li style="font-size: 15px;">
                      These bullet points should be concise, impactful, and focused on specific achievements or responsibilities.                    <br>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- page-content" -->
      <!-- page-wrapper -->
{% endblock textbox %}  