{% extends 'base.html' %}

{% block textbox %}
        <!-- sidebar-wrapper  -->
        <div class="page-content">
          <div class="container-fluid">
            <h4>Dates</h4><br><br>
            <div class="row">
              <div class="form-group col-md-12">
                <div class="containercolor">
                  <ul>
                  <li>Your resume score is {{marks}}/5</li>
                  <hr>
                  <li style="font-size: 15px;">
                    Dates are an important component of a resume as they provide the reader with a clear understanding of your work history and professional experience.                  </li>
                  <li style="font-size: 15px;">
                    Including dates can also help to demonstrate your career progression and continuity, which can be important factors for employers when evaluating candidates.
                  </li>
                  <li style="font-size: 15px;">
                    When including dates on your resume, it's important to be consistent and ensure that they are accurate.                  </li><br>
                  <li>
                    The dates in the resume should be in the given format:
                  </li>
                  <hr>
                  <li style="font-size: 17px;">Sep 2018 - Jun 2020</li>
                  <li style="font-size: 17px;">07/2020 - 09/2023</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- page-content" -->
      <!-- page-wrapper -->
{% endblock textbox %}  