{% extends 'base.html' %}

{% block textbox %}
        <!-- sidebar-wrapper  -->
        <div class="page-content">
          <div class="container-fluid">
            <h4>Education</h4><br><br>
            <div class="row">
              <div class="form-group col-md-12">
                <div class="containercolor">
                  <ul>
                  <li>Your resume score is {{marks}}/7</li>
                  <hr>
                  <li style="font-size: 15px;">
                    The education section of a resume is an important component, particularly for those who are recent graduates or who have limited work experience.                  </li>
                  <li style="font-size: 15px;">
                    This section allows you to showcase your educational achievements, credentials, and areas of expertise.                  </li>
                  <li style="font-size: 15px;">
                    You can also include any relevant coursework, academic honors, or awards you received.                  </li><br>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- page-content" -->
      <!-- page-wrapper -->
{% endblock textbox %}  