{% extends 'base.html' %}

{% block textbox %}
        <!-- sidebar-wrapper  -->
        <div class="page-content">
          <div class="container-fluid">
            <h4>Experience</h4><br><br>
            <div class="row">
              <div class="form-group col-md-12">
                <div class="containercolor">
                  <ul>
                  <li>Your resume score is {{marks}}/7</li>
                  <hr>
                  <li style="font-size: 15px;">
                    The experience section is one of the most important parts of a resume, as it provides potential employers with a detailed overview of your work history and accomplishments.                  </li>
                  <li style="font-size: 15px;">
                    This section allows you to showcase your skills and experiences in a way that demonstrates your value as a candidate for a particular role.                  </li>
                  <li style="font-size: 15px;">
                    You should also use bullet points to highlight specific accomplishments and contributions you made to the organization.                  </li><br>
                  <li>
                    If you are a beginner-level user with no experience:
                  </li>
                  <hr>
                  <li style="font-size: 17px;">1. You can add Projects you have done so far, and explain the project in bullet points.</li>
                  <li style="font-size: 17px;">2. You can also add achievements in your resume as it shows your skills and experience in the mentioned field.</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- page-content" -->
      <!-- page-wrapper -->
{% endblock textbox %}  