{% extends 'base.html' %}

{% block textbox %}
        <!-- sidebar-wrapper  -->
        <div class="page-content">
          <div class="container-fluid">
            <h4>Quantify Impact</h4><br><br>
            <div class="row">
              <div class="form-group col-md-12">
                <div class="containercolor">
                  <ul>
                  <li>Your resume score is {{marks}}/5</li>
                  <hr>
                  <li style="font-size: 15px;">
                    When it comes to quantifying impact in a resume, it's all about using numbers, statistics, and specific outcomes to showcase your achievements and demonstrate your value to potential employers.
                  </li>
                  <li style="font-size: 15px;">
                    By using action verbs and focusing on recent and relevant experiences, you can create a compelling narrative that showcases your skills and accomplishments in a way that is both honest and accurate.
                  </li>
                  <li style="font-size: 15px;">
                    Whether you are highlighting a successful project or a significant increase in sales, quantifying impact in your resume can help you stand out from the crowd and demonstrate your potential as a valuable asset to any organization.
                  </li><br>
                  <li>
                    Here's an example of how to quantify impact in a resume:
                  </li>
                  <hr>
                  <li style="font-size: 17px;">Before: Developed marketing strategies to increase brand awareness.</li>
                  <li style="font-size: 17px;">After: Developed and executed marketing strategies that increased brand awareness by 35%, resulting in a 20% increase in website traffic and a 15% increase in sales.</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- page-content" -->
      <!-- page-wrapper -->
{% endblock textbox %}  