{% extends 'base.html' %}

{% block textbox %}
        <!-- sidebar-wrapper  -->
        <div class="page-content">
          <div class="container-fluid">
            <h4>Skills</h4><br><br>
            <div class="row">
              <div class="form-group col-md-12">
                <div class="containercolor">
                  <ul>
                  <li>Your resume score is {{marks}}/5</li>
                  <hr>
                  <li style="font-size: 15px;">
                    The skills section of a resume is an important component that allows you to highlight your key abilities and demonstrate your qualifications for a particular role.                  </li>
                  <li style="font-size: 15px;">
                    This section should include both technical and soft skills that are relevant to the position you're applying for.                  </li>
                  <li style="font-size: 15px;">
                    This can include hard skills such as software proficiency, technical knowledge, or language fluency, as well as soft skills such as communication, teamwork, and problem-solving.                  </li><br>
                  
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- page-content" -->
      <!-- page-wrapper -->
{% endblock textbox %}  