{% extends 'base.html' %}

{% block textbox %}
        <!-- sidebar-wrapper  -->
        <div class="page-content">
          <div class="container-fluid">
            <h4>Summary</h4><br><br>
            <div class="row">
              <div class="form-group col-md-12">
                <div class="containercolor">
                  <ul>
                  <li>Your resume score is {{marks}}/6</li>
                  <hr>
                  <li style="font-size: 15px;">
                    The summary section of a resume is a brief statement that provides potential employers with an overview of your skills, experiences, and qualifications.                  </li>
                  <li style="font-size: 15px;">
                    This section is typically located at the beginning of the resume and serves as a "hook" to grab the reader's attention and entice them to continue reading.                  </li>
                  <li style="font-size: 15px;">
                    This can include a brief overview of your career goals, key skills, and areas of expertise.                  </li><br>
                  
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- page-content" -->
      <!-- page-wrapper -->
{% endblock textbox %}  